h1{
  text-align: center;
  font-family: plilosopher;
  font-size: 70px;
}
p{
  text-align: left;
  padding-bottom:5px;
  font-size:17px;
  line-height:1.5;
  padding-top: 20px;
 
}
.border{
  border:rgb(124, 8, 8);;
  border-style: solid;
  padding: 1px;
}

h2{
  text-align: center;
}

h3{
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* html { 
  background: url(https://i.ytimg.com/vi/Q5WsF_uaAZk/maxresdefault.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.wizard{
  float: left;
  height: auto;
  width: 160px;
  margin: 20px;
  padding: 5px;
}
form{
  padding:14px;
}
#react{
  display:none;
  border:rgb(124, 8, 8);;
  border-style: solid;
  padding: 1px;
}
#js{
  display:none;
  border:rgb(124, 8, 8);;
  border-style: solid;
  padding: 1px;
}
#c{
  display:none;
  border:rgb(124, 8, 8);;
  border-style: solid;
  padding: 1px;
}
#doom{
  display:none;
  border:rgb(124, 8, 8);;
  border-style: solid;
  padding: 1px;
}