h1{
  text-align: center;
  font-family: plilosopher;
  font-size: 75px;
  color: rgb(231, 40, 40);
}

p{
  text-align: left;
  padding-bottom:10px;
  font-size:17px;
  line-height:2;
  padding-top: 20px;
  color:rgb(235, 229, 229);

  
}

label{
  color: rgb(134, 233, 109);
}


#quest-intro{
  text-align: left;
  padding-bottom: 1px;
  font-size:17px;
  line-height:2;
  padding-top: 7px;
  color:rgb(235, 229, 229);
  background-color: rgb(0,0,0,0.5);
  display: inline;
}

.border{
  border:rgb(238, 187, 20);
  border-style: solid;
  padding: 10px;
}

h2{
  text-align: center;
  color:rgb(247, 206, 74);
}

h3{
  text-align:center;
  padding-top: 10px;
  padding-bottom: 15px;
  color:  rgb(231, 40, 40);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.wizard{
  float: left;
  height: auto;
  width: 160px;
  margin: 20px;
  padding: 5px;
  position: relative;
}

form{
  padding:14px;

}
#react {
  display:none;

}

#js{
  display:none;

}

#c{
  display:none; 

}

#doom{
  display:none;

}

.skelly {
  display: inline-block;
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
}

#button {
  height:50px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
  border: rgb(134, 233, 109);
  border-style: solid;
  text-align: center;
  font-family: philosopher;
  font-weight: bolder;
  font-weight: 900;
  background-color: seashell;
}

.container {
  display:none;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}
html body {
  background-image: url("https://cdn.dribbble.com/users/336977/screenshots/2040007/dungeon_preview_dribbble.gif");
  background-size: inherit;
}
strong{
  color: rgb(187, 126, 245);
}
.form-control{
 background-color: black;
 color: cornsilk;
}
#begin{
  display:none;
}

.button{
  cursor: pointer;
  height:50px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
  border: rgb(134, 233, 109);
  border-style: solid;
  text-align: center;
  font-family: philosopher;
  font-weight: bolder;
  font-weight: 900;
  background-color: seashell;
}

#continue {
  cursor: pointer;
  height: 50px; 
  width: 100px; 
  margin: -20px -50px; 
  position:relative;
  top: 50%; 
  left: 50%;
  border: rgb(134, 233, 109);
  border-style: solid;
  text-align: center;
  font-family: philosopher;
  font-weight: bolder;
  font-weight: 900;
  background-color: seashell;
}

.quest {
  text-align: left;
  padding-bottom: 1px;
  font-size: 17px;
  line-height: 2;
  padding-top: 7px;
  color:rgb(235, 229, 229);
  background-color: rgb(0,0,0,0.5);
}

#quest-2 {
  display: none;
}

#quest-3 {
  display: inline-block;
}

.w-1-4 {
  display: inline-block;
  width: 25%;
}
.w-3-4 {
  display: inline-block;
  width: 70%;
}
/* .output{
  text-align: left;
  display: inline;
} */